<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Deep Hop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
<div class="center-container">
        <h1 class="centered-item" id="header-logo"> Deep Hop</h1>
        <h3 class="centered-item" id="sub-header-logo">AI Rap Generator Tool</h3>
</div>
      </head>



  