{% extends "base.html" %}

{% block content %}
<body>
  <div class="center-container">
    <!-- Loading GIF element with an initial style of "display: none;" -->
    
      
  <!-- loading gif -->
<div id="loading" style="display:none; width:100%; text-align:center;">
  <iframe src="https://giphy.com/embed/RgzryV9nRCMHPVVXPV" width="20%" height="20%" style="display:inline-block; margin: 0 auto;" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <h3 style= "color: red"> LOADING MODEL (takes ~ 1 minute) </h3>
</div>
 

  <form  action="{{ url_for('home') }} " method="post" > 
    <input class="centered-item button-24" type="submit" value="Load Deep Hop Model"> 
</form>
</div>
</body>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>


{% endblock %}


